<div class="">
  <div class="">
    <button
    class="w-full text-left px-4 py-2 border border-gray-300 rounded-md bg-white shadow-sm 
           whitespace-normal break-words"
    (click)="toggleDropdown()"
  >
    {{ buttonLabel }}
  </button>

    <ul *ngIf="isOpen" class="mt-2 absolute border rounded shadow bg-white z-10 w-sm">
      <li *ngFor="let option of options" class="p-2 hover:bg-gray-100 flex items-center">
        <input
          type="checkbox"
          [checked]="selectedIds.includes(option.id)"
          (change)="toggleSelection(option)"
          class="mr-2" />
        {{ option.nome }}
      </li>
    </ul>
  </div>
</div>
